:root {
    --cyan-bright: #00b6de;
    --blue-vivid: #1259ff;
    --blue-deep: #121af9;
    --grey: #757575;
    --soft-lavender: #f6f6fe;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--soft-lavender);
}

header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 2rem 10rem;    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
    background-color: white;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 0.9rem;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-container img{
    width: 50px;
    height: 50px;
}

.logo-container p{
    font-size: 1.5rem;
    font-weight: 600;
    color: #121af9;
}

.logo-container p span{
    color: var(--cyan-bright);
}

nav button{
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 50px;
    background-color: var(--blue-deep);
    color: white;
    font-weight: 500;
    cursor: pointer;
}

/*hero-section*/

.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 2rem 4rem;
}

.hero-content{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2rem;   
}

.hero-call-to-action-container{
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 1rem;
}

.hero img{
    width: 50%;
}

.hero-content span{
    font-weight: 700;
    color: #121af9;
}

.hero-tagline{
    font-size: 1rem;
    font-weight: 700;
    color: var(--grey);
    text-align: left;
}

.hero-content h1{
    width:70%;
    font-size: 2rem;
    line-height: 1.5;
}

.hero-call-to-action-download{
    padding: 0.2rem 0.2rem 0.2rem 1.5rem;
    border: none;
    border-radius: 50px;
    background-color: var(--blue-deep);
    color: white;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.hero-call-to-action-download i{
    background-color: var(--blue-vivid);
    padding: 0.8rem;
    border-radius: 50%;
}

.hero-call-to-action-play {
    background-color: transparent;
    width: 3rem; 
    height: 3rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    color: var(--blue-deep);
    border: 2px solid var(--blue-deep);
    outline: none;
    cursor: pointer;
}

/*features*/

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 4rem;
}

.features-title{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.features-title p{
    font-size: 1rem;
    font-weight: 700;
    color: var(--grey);
}

.features-title h1{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.features-title span{
    color:var(--blue-deep);
}

.features-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.features-card{
    width: 30%;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.features-card p{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--grey);
    text-align: center;
}

.features-card img{
    width: 100px;
    height: 100px;
    padding: 10px;
}

/*about*/

.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 2rem 4rem;
}

.about-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;   
}

.about-container p{
    font-size: 1rem;
    font-weight: 700;
    color: var(--grey);
}

.about-container h1{
    font-size: 2rem;
    font-weight: 700;
}

.about-container span{
    color:var(--blue-deep);
}

.about-container p:nth-of-type(2){
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--grey);
    text-align: left;
}

.about-features{
    display: flex;
    align-items: center;
    gap: 1rem;
}

/*clients*/

.clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 4rem;
}

.clients-title{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.clients-title p{
    font-size: 1rem;
    font-weight: 700;
    color: var(--grey);
}

.clients-title h1{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.clients-title span{
    color:var(--blue-deep);
}

.clients-card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:50%;
    position: relative;
    gap: 2rem;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.clients-card-info{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    padding: 2rem;
}

.clients-card-info p{
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--grey);
    text-align: left;
    font-style: italic;
}

.clients-card-container img{
    width:50%;
    border-radius: 0px 15px 15px 0px;
}

.arrows {
    position: absolute;
    bottom: -25px;
    right:0px;   /* o top: 20px; si querés arriba */
    z-index: 999;
    display: flex;
    gap: 12px;
    font-size: 30px;
    width:100px;
    height: 50px;
    background-color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
  }
  
.arrows i{
    color: var(--blue-deep);
    font-size: 2rem;
    cursor: pointer;
}  